{%extends 'base.html'%}

{%block konten%}
<h1 class="mt-5">{{judul}}</h1>
<p style="text-align: justify;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vero totam saepe nisi sapiente quia consequatur, 
    cupiditate voluptates dolores corrupti amet molestias voluptatem eveniet maxime quaerat? In quos perferendis 
    consequuntur, obcaecati iure facilis ullam ipsam. Totam modi quod voluptatem ea? <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vero totam saepe nisi sapiente quia consequatur, 
    cupiditate voluptates dolores corrupti amet molestias voluptatem eveniet maxime quaerat? In quos perferendis 
    consequuntur, obcaecati iure facilis ullam ipsam. Totam modi quod voluptatem ea? <br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur vero totam saepe nisi sapiente quia consequatur, 
    cupiditate voluptates dolores corrupti amet molestias voluptatem eveniet maxime quaerat? In quos perferendis 
    consequuntur, obcaecati iure facilis ullam ipsam. Totam modi quod voluptatem ea? <br>
</p>
{%endblock konten%}