
<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span style="color: rgb(78, 204, 78); font-weight: bold">EL-CODER</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'blog'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'input:index'%}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'input:create'%}">Input Data</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
