{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BELAJAR | DAJNGO </title>
</head>
<body>



    <h1>SELAMAT DATANG !</h1>
    <h3>Selamat Belajar 😊😉 </h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/app1/satu">App1</a></li>
    </ul>
    <img src="" alt="">

    <img src="/static/img/YTFLASK.png" alt="" width="300px">
</body>
</html>