{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EL-CODER</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {%include 'snippets/style.html'%}

</head>

<body>

  <!-- ======= Header ======= -->
  {%include 'snippets/nav.html'%}
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
    {%block header%}

    {%endblock header%}
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    {%block content1%}

    {%endblock content1%}
    <!-- End About Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    {%block content2%}

    {%endblock content2%}
    <!-- End Stats Counter Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    {%block content3%}

    {%endblock content3%}
    <!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    {%block content4%}
    
    {%endblock content4%}
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {%include 'snippets/footer.html'%}
  <!-- End Footer -->

  {%include 'snippets/script.html'%}
 
</body>

</html>