{% extends "snippets/base.html"%} 

{%block title%}
<h1 style="margin-top: 20px">Framework Django</h1>
<p style="color: green">Playlist Belajar</p>
<br />
{%endblock title%} 

{% block content-1%}
<h5 class="card-title">DJANGO 01</h5>
<p class="card-text">
  Some quick example text to build on the card title and make up the bulk of the
  card's content.
</p>
<a href="#" class="btn btn-success">Belajar</a>
{% endblock content-1%}

{% block content-2%}
<h5 class="card-title">DJANGO 01</h5>
<p class="card-text">
  Some quick example text to build on the card title and make up the bulk of the
  card's content.
</p>
<a href="#" class="btn btn-success">Belajar</a>
{% endblock content-2%}
