{% extends "app1/base.html"%} 
{% load static %}

{%block title%}
<h1 style="margin-top: 20px">Framework Flask</h1>
<p style="color: green">Playlist Belajar</p>
<br />
{%endblock title%} 


{% block content-1%}
<h5 class="card-title">DJANGO 01</h5>
<p class="card-text">
  Some quick example text to build on the card title and make up the bulk of the
  card's content.
</p>
<a href="#" class="btn btn-success">Belajar</a>
{% endblock content-1%} 

{%block content-2%}
<div class="card" style="width: 18rem">
  <img
    src="{%static 'app1/img/flask.png' %}"
    class="card-img-top"
    width="90px" />
  <div class="card-body">
    <h5 class="card-title">FLASK 02</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-success">Belajar</a>
  </div>
</div>
{%endblock content-2%}

{%block content-3%}
<div class="card" style="width: 18rem">
  <img
    src="{%static 'app1/img/flask.png' %}"
    class="card-img-top"
    width="90px" />
  <div class="card-body">
    <h5 class="card-title">FLASK 02</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-success">Belajar</a>
  </div>
</div>
{%endblock content-3%}
{%block content-4%}
<div class="card" style="width: 18rem">
  <img
    src="{%static 'app1/img/flask.png' %}"
    class="card-img-top"
    width="90px" />
  <div class="card-body">
    <h5 class="card-title">FLASK 02</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-success">Belajar</a>
  </div>
</div>
{%endblock content-4%}
{%block content-5%}
<div class="card" style="width: 18rem">
  <img
    src="{%static 'app1/img/flask.png' %}"
    class="card-img-top"
    width="90px" />
  <div class="card-body">
    <h5 class="card-title">FLASK 02</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-success">Belajar</a>
  </div>
</div>
{%endblock content-5%}
